
#title {
    width: 100%;
    padding: 0;
    margin: 0;
    position: fixed;
    z-index: 1000;
}

    #title .icon {
        width: 30px;
        height: 30px;
    }
    #title .title-name {
        color: white;
        font-family: STKaiti;
        font-size: 20px;
        margin-left: 10px;
    }
    #title .el-input {
        margin: 10px;
        padding-left: 10%;
        width: 40%;
    }

    #title .el-menu {
        margin: 0;
        padding-left: 10px;
        position: fixed;
        width: 100%;
    }
    #title .title-selection {
        float: right;
        margin-left: 10px;
    }

.carousel {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 40%;
}


.card_box {
    width: 30%;
    margin: 0 1% 0 1%;
    float: left;
}

    .card_box img {
        width: 100%;
        height: 160px;
    }

    .card_box .brief {
        color: gray;
        font-size: 12px;
    }

    .card_box .discount {
        color: red;
        margin-left: 5%;
        font-size: 14px;
    }

    .card_box .cost {
        color: gray;
        float: right;
        margin-right: 10%;
        font-size: 14px;
        padding-top: 1.5px;
    }


